
<h1>ip= {{ansible_host }}</h1>

<br>hostname= {{ ansible_user }}

<br>SO= {{ ansible_distribution }}  

<br> SO Version = {{ansible_distribution_version}}

<br> Host_var = {{var1}}

<br> Group var ={{var2}}

